.App {
  background-image: url('./background-image.jpg');
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    ". title ."
    ". calculator .";
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 250px auto auto auto auto
}
.App-link {
  color: #61dafb;
}
#title{
  grid-area: title;
  width: 100%;
  padding: 25px;
}
#calculator{
  grid-area: calculator;
  width: 100%;
}

